.list-container{
  border: solid 1px var(--blue);
}
button{
  border: 1px solid var(--blue);
}

.saveList-container{
  position: static;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-show-confirmation{
  min-height: 100vh;
  z-index: 250;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(2px);

}
.modal-show-confirmation{
  background-color: var(--black);
  /* box-shadow: 0px 0px 25px 3px rgb(60, 60, 60); */
}

.cancel-btn{
  background-color: var(--black-light);
  transition: all 0.2s ease;
}
.delete-confirmation-btn{
  transition: all 0.2s ease;
}