@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --black: #222831;
  --black-light: #3a4454;
  --gray: #393E46;
  --blue: #00ADB5;
  --blue-light: #00f2ff;
  --white: #EEEEEE;
}

html{
  font-family: "lato", sans-serif;
}

.border-blue{
  border:solid 1px var(--blue);
}
.text-blue{
  color: var(--blue);
}
.color-black{
  color: var(--black);
}
.add-button{
  background-color: var(--blue);
  color: var(--black);
}

.active{
  transform: translate(0, 0);
}
.inactive{
  display: none;
}
.center-container{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-button{
  transition: all .2s ease; 
}

.button-animation {
  background-color: var(--black-light);
  
}

.button-save-animation {
  background-color: var(--blue-light);
}

.success-msg{
  position: fixed;
  display: none;
  z-index: 100;
  right: 0;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.2);
}
.success-msg-animation {
  display: block;
}

.exit-bnt-animation {
  background-color: rgb(244 63 94);
  transition: all .2s ease;
}

.delete-btn{
  display: none;
}

